config:
  backup: true
  create: true
  dotpath: .
dotfiles:
  f_nix:
    dst: ~/nix
    src: nix
  f_bashrc:
    dst: ~/.bashrc_user
    src: .bashrc_user
  f_apparish:
    dst: ~/.bourne-apparish
    src: .bourne-apparish
  f_tcap:
    dst: ~/.LESS_TERMCAP
    src: .LESS_TERMCAP
  f_emacs:
    cmpignore:
      - "auto-save-list"
      - "*session.*"
      - "elpa"
    upignore:
      - "auto-save-list"
      - "*session.*"
      - "elpa"
    dst: ~/.emacs.d
    src: .emacs.d
  f_gitconfig:
    dst: ~/.gitconfig
    src: .gitconfig
  f_gitmsg:
    dst: ~/.gitmessage.txt
    src: .gitmessage.txt
profiles:
  ghp:
    dotfiles:
     - f_apparish
     - f_nix
     - f_bashrc
     - f_tcap
     - f_emacs
     - f_gitconfig
     - f_gitmsg
